.button {
  min-width: 20rem;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  line-height: 1.17;

  background: none;

  cursor: pointer;
  transition: $linkTransition;

  // .button_offer

  &_offer {
    padding: 1.6rem 5rem;
    background-color: $colAccent;
    color: $colFontAdd;
    border: .3rem solid $colAccent;
    border-radius: .7rem;

    &:hover {
      background-color: $colFontMain;
      color: $colAccent;
    }

    @media screen and (max-width: $bp4) {
      padding: 1.6rem 3rem;
    }
  }
}