<section class="offer">
  <div class="offer__content">
    <h2 class="offer__heading">
      Получи защиту иммунитета
      <span class="offer__accent">со скидкой &minus;15% первым!</span>
    </h2>
    <div class="offer__price-block">
      <span class="offer__price offer__price_old">750&#8381;</span>
      <span class="offer__price offer__price_new">690&#8381;</span>
    </div>
    <ul class="offer__benefits-block benefits">
      <li class="benefits__card card">
        <img src="@img/ginger.png" alt="benefit" class="card__image">
        <p class="card__description">
          Содержит<span class="offer__accent">имбирь</span>
        </p>
      </li>
      <li class="benefits__card card card_main">
        <img src="@img/product.jpg" alt="benefit" class="card__image">
        <p class="card__description">
          + Бесплатная доставка<span class="offer__accent">Специальная цена</span>
        </p>
      </li>
      <li class="benefits__card card">
        <img src="@img/vorus.png" alt="benefit" class="card__image">
        <p class="card__description">
          Нейтрализует<span class="offer__accent">вирусы</span>
        </p>
      </li>
    </ul>
    <div class="offer__interactions">
      <button class="button button_offer" type="button">Оформить заказ!</button>
    </div>
  </div>
</section>