.offer {
  background-color: $colMain;

  // .offer__content

  &__content {
    padding: 11rem 17.6rem;
    color: $colFontMain;

    @media screen and (max-width: $bp3) {
      padding: 5rem 9.6rem;
    }

    @media screen and (max-width: $bp4) {
      padding: 5rem 5rem;
    }
  }

  // .offer__accent
  &__accent {
    display: block;
    color: $colAccent;
  }

  // .offer__heading

  &__heading {
    margin-bottom: 8.5rem;

    font-weight: 700;
    @include adaptive-font(48, 24);
    line-height: 1.19;
    text-align: center;
    text-transform: uppercase;

    @media screen and (max-width: $bp3) {
      margin-bottom: 4.5rem;
    }
  }

  // .offer__price-block

  &__price-block {
    margin-bottom: 5.9rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $bp3) {
      margin-bottom: 4rem;
    }

    &>*:not(:last-of-type) {
      margin-right: 3.2rem;
    }
  }

  // .offer__price

  &__price {
    line-height: 1.19;

    // .offer__price_old

    &_old {
      @include adaptive-font(36, 30);
      color: #ADADAD;
      text-decoration: line-through 2px;
    }

    // .offer__price_new

    &_new {
      @include adaptive-font(48, 40);
    }
  }

  // .offer__new-price

  &__new-price {}

  // .offer__benefits-block

  &__benefits-block {
    margin-bottom: 6.4rem;

    @media screen and (max-width: $bp4) {
      margin-bottom: 4rem;
    }
  }

  // .offer__interactions

  &__interactions {
    display: flex;
    justify-content: center;
  }
}

.benefits {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 20rem));
  justify-content: center;
  align-items: flex-start;
  grid-column-gap: 9rem;
  grid-row-gap: 5rem;

  @media screen and (max-width: $bp4) {
    grid-column-gap: 5rem;
  }


  // .benefits__card

  &__card {}
}

.card {
  min-height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: $bp1) {
    min-height: 25rem;
  }

  @media screen and (max-width: $bp4) {
    min-height: 15rem;
  }

  // . card_main

  &_main {
    // занимает 2 столбца в середине
    order: 1;
    grid-column: 2 / span 2;
    grid-row: 1 / 1;

    @media screen and (max-width: $bp1) {
      // занимает нижнюю строку и 2 столбца
      grid-column: 1 / span 2;
      grid-row: auto;
    }

    &>.card__description {
      @include adaptive-font(36, 24);
      line-height: 1.2;

      &>.offer__accent {
        @include adaptive-font(24, 18);
        line-height: 1.17;
      }
    }
  }

  // .card__image-wrapper

  &__image-wrapper {
    max-width: 100%;
    height: 16rem;
    flex: 1 0 auto; // чтобы прижать описание к низу
    margin-bottom: 2rem;

    @media screen and (max-width: $bp6) {
      height: 10rem;
    }
  }

  // .card__image

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  // .card__description

  &__description {
    font-size: 1.8rem;
    line-height: 1.17;
    text-align: center;
    flex: 0 0 auto; // чтобы прижать описание к низу
  }
}