<section class="product">
  <img class="product__image" src="@img/product_background.png" alt="product">
  <div class="container">
    <div class=" product__content">
      <div class="product__info-main">
        <h1 class="product__heading">Активируй иммунитет!</h1>
        <p class="product__subheading">Всего пять секунд в&nbsp;день помогут укрепить иммунитет
          и&nbsp;повысить защитные силы организма
        </p>
      </div>
      <div class="product__info-additional">
        <h2 class="product__benefits-heading">Nootris помогает</h2>
        <p class="product__benefits-subheading">
          Вашему организму во&nbsp;время пандемии
          и&nbsp;сезонных простуд
        </p>
      </div>
    </div>
  </div>
</section>