<nav class="navbar">
  <ul class="navbar__menu menu">
    <li class="menu__item">
      <a href="#" class="menu__item-link">FAQ</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__item-link">Оплата и доставка</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__item-link">Возврат</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__item-link">Исследования</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__item-link">Личный кабинет</a>
    </li>
    <li class="menu__item">
      8 8 (800) 600-09-90
    </li>
  </ul>
  <div class="navbar__cart cart">
    <svg width="32" height="28" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M32 10h-5.434L20.858.485a1 1 0 0 0-1.715 1.03L24.233 10H7.767l5.091-8.485a1 1 0 1 0-1.714-1.03L5.433 10H0v2h2.17l2.54 13.552A3.001 3.001 0 0 0 7.66 28h16.68a3 3 0 0 0 2.948-2.447L29.83 12H32v-2Zm-6.678 15.185a.999.999 0 0 1-.982.815H7.66a1 1 0 0 1-.983-.816L4.205 12h23.59l-2.473 13.185Z"
        fill="#fff" />
    </svg>
    <span class="cart__counter">1</span>
  </div>
  <div class="navbar__burger burger">
    <span></span>
  </div>
</nav>