<nav class="navbar">
  <ul class="navbar__menu menu">
    <li class="menu__item">
      <a href="#" class="menu__item-link">FAQ</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__item-link">Оплата и доставка</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__item-link">Возврат</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__item-link">Исследования</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__item-link">Личный кабинет</a>
    </li>
    <li class="menu__item">
      8 8 (800) 600-09-90
    </li>
  </ul>
  <button class="navbar__cart cart button" type="button">
    <span class="cart__counter">1</span>
  </button>
  <div class="navbar__burger burger">
    <span></span>
  </div>
</nav>