.navbar {
  display: flex;
  align-items: center;
}

.menu {
  display: grid;
  grid-template-columns: repeat(6, minmax(min-content, max-content));
  align-items: center;
  gap: 4rem;
  margin-right: 7.2rem;

  @media screen and (max-width: $bp1) {
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    row-gap: 1rem;
  }

  // .menu__item
  &__item {
    display: inline-block;
    color: $colFontMain;
    font-size: 1.8rem;
    line-height: 1.33;
  }

  // .menu__item-link
  &__item-link {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    transition: $linkTransition;

    &:hover {
      opacity: .8;
    }
  }
}

.cart {
  position: relative;
  z-index: 999;
  cursor: pointer;
  transition: $linkTransition;

  &:hover {
    opacity: .8;
  }

  // .cart__counter

  &__counter {
    position: absolute;
    top: 60%;
    left: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.6rem;
    height: 1.6rem;
    background-color: $colAccent;
    border-radius: 50%;

    font-size: 1.2rem;
    line-height: 2;
  }
}

.burger {
  display: none;
}

// * Burger menu styles
@media screen and (max-width: $burgerBp) {

  // .menu
  .menu {
    margin: 0;
    position: fixed;
    background: $colMain;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    grid-template-columns: max-content;
    grid-template-rows: repeat(auto-fit, minmax(50px, max-content));
    justify-items: center;
    justify-content: center;
    align-content: center;
    gap: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); // раскрытое меню по бургеру - начальное положение
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: all 0.5s ease 0s;
    pointer-events: none;

    &.active {
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); // раскрытое меню по бургеру
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

      pointer-events: all;
      z-index: 22;
      transition: all 0.5s ease 0s;
    }
  }

  // * burger
  .burger {
    margin-left: 2rem;
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 102;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      background: $colFontMain;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      position: absolute;
      background-color: $colFontMain;
      left: 0;
      top: 9px;
      width: 100%;
      height: 2px;
      transition: all 0.3s ease 0s;
    }

    &.active-burger {
      &:before {
        transform: rotate(45deg);
        top: 9px;
        background-color: $colFontMain;
      }

      &:after {
        transform: rotate(-45deg);
        bottom: 9px;
        background-color: $colFontMain;
      }

      span {
        transform: scale(0);
      }
    }
  }
}