// ! глобальные стили

// Container

.container {
  max-width: ($containerWidth + $containerPadding) + px; // макс ширина контейнера
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding+px;
  position: relative;

  @media (max-width: $bp4) {
    padding: 0 calc($containerSidePadding / 2) +px;
  }
}

// * Body

html {
  font-size: 10px; // базовый размер шрифта
}

body {
  font-family: $fontMain;
  font-weight: 400;

  &.locked {
    // стиль для боди при открытом бургер менб, чтобы не прокручивался конент под меню
    overflow: hidden;
  }
}