// * Container & breakpoints
@use "sass:math"; // подключение модуля math
$maxWidth: 1440; // макс ширина по макету
$containerWidth: 1440; // ширина контейнера контента - ширина - сумма паддиногов
$containerPadding: 128; // паддинги по бокам от контейнера - сумма паддингов
$containerSidePadding: math.div($containerPadding, 2);
$bp1: 1439.98+px;
$bp2: 1199.98+px;
$bp3: 991.98+px;
$bp4: 767.98+px;
$bp5: 479.98+px;
$bp6: 374.98+px;

// * Fonts
$fontMain: 'Rubik',
  sans-serif;

// * Colors
$colMain: #111111;
$colAccent: #FCB500;
$colFontMain: #FFFFFF;
$colFontAdd: #000000;

// * transitions & animations
$linkTransition: all .3s ease;
$cycledLinearAnimation: .8s infinite linear;


// * Header & Burger menu options
$burgerBp: $bp3;
$burgerColor: $colMain;
$burgerColor_active: $colFontMain;
$burgerFontColor_active: $colFontMain;
$burgerButtonColor: $colFontMain;
$burgerButtonColor_active: $colFontMain;
$headerPosition: relative; // fixed or relative

// * Mixins
@import"./mixins";