// * Global SCSS imports
@import "normalize";
@import "_reset";
@import "fonts";
@import "_vars";
@import "_global";


// * Libs
//@import "../../node_modules/bootstrap/scss/bootstrap";


// * Main SCSS Content

.heading {
  font-style: normal;
  font-weight: 700;
  color: $colorFontMain;
}

.text {
  font-style: normal;
  font-weight: 300;
  @include adaptive-font(14, 12);
  line-height: 1.71;
  color: $colorSubheading;
}

//*

// * компоненты
@import "../components/Header/header";
@import "../components/Product/product";

@import"../components/Button/button";